{
  "presets": ["next/babel", "@babel/preset-typescript"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": true,
        "displayName": true
      }
    ]
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "babel-plugin-styled-components",
          {
            "ssr": false,
            "displayName": false
          }
        ]
      ]
    }
  }
}

// Isso vai nos garantir que quando estivermos rodando no ambiente de teste,
// ele não será iniciado via ssr, e consequentemente o toHaveStyledRule vai conseguir
// buscar de fato o que interessa.